body {
  margin: 0;
  padding: 16px 8px;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah", cursive;
}

wired-card {
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

wired-button {
  margin-left: 8px;
  background: yellow;
}

wired-input {
  font-family: inherit;
}
